In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
list=['a','b','c']

In [4]:
my_array=[10,20,30]

In [6]:
pd.Series(data=my_array)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_array,index=list)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_array,list)

a    10
b    20
c    30
dtype: int64

In [9]:
d={'a':10,'b':20,'c':30}

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [31]:
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [21]:
sr1={'USA':1,'russia':2,'ucrane':3,'england':4}

In [22]:
pd.Series(sr1)

USA        1
russia     2
ucrane     3
england    4
dtype: int64

In [23]:
sr1['USA']

1

In [24]:
sr2={'USA':1,'russia':2,'india':3,'england':4}

In [26]:
pd.Series(sr2)

USA        1
russia     2
india      3
england    4
dtype: int64

In [27]:
sr1=pd.Series([sum,len,print])

In [29]:
[sr1]+[sr2]

[0      <built-in function sum>
 1      <built-in function len>
 2    <built-in function print>
 dtype: object, {'USA': 1, 'russia': 2, 'india': 3, 'england': 4}]

In [32]:
from numpy.random import randn

In [33]:
np.random.seed(101)

In [36]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [37]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [39]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [40]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [41]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [42]:
type(df['W'])

pandas.core.series.Series

In [43]:
df['new']=df['W']+df['Y']

In [44]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [45]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [46]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [47]:
df.drop('new',axis=1,inplace=True)

In [48]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [49]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [51]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [52]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [53]:
df.loc['B','Y']

0.16690463609281317

In [54]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

In [55]:
df>0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [56]:
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [57]:
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [58]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [61]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

In [62]:
df[(df['W']>0) & (df['Y']>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [63]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [64]:
newind='CA NY WY OR CO'.split()

In [65]:
df['States']=newind

In [66]:
df

          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [67]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [68]:
df.set_index('States',inplace=True)

In [69]:
df

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [90]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

TypeError: 'list' object is not callable

In [87]:
hier_index

NameError: name 'hier_index' is not defined

In [81]:
df.index.names

FrozenList(['States'])

In [82]:

df.index.names=['Group','Num']

ValueError: Length of new names must be 1, got 2

In [83]:
df

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [84]:
df.xs('G1')

KeyError: 'G1'

In [85]:
df.xs(['G1',1])

TypeError: '['G1', 1]' is an invalid key

In [91]:
n=int(input("enter the number of rows required"))
for i in range(1,n+1):
    print(" "*(n-i),"*"*(2*i-1))

enter the number of rows required5
     *
    ***
   *****
  *******
 *********

In [92]:
df.dropna()

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [93]:
df.dropna(axis=1)

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [94]:
df.dropna(thresh=2)

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [96]:
df.fillna(value='FILL VALUE')

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [98]:
df['A'].fillna(value=df['A'].mean())

KeyError: 'A'

In [99]:
df=pd.read_csv('example')

FileNotFoundError: [Errno 2] File b'example' does not exist: b'example'