In [4]:
import re
count=0
pattern=re.compile("ab")
matcher=pattern.finditer("abaababa")
for match in matcher:
    count+=1
    print(match.start,"...",match.end(),"...",match.group())
print("the number of occurances :",count)

<built-in method start of re.Match object at 0x00000207B97AFAC0> ... 2 ... ab
<built-in method start of re.Match object at 0x00000207B97F8030> ... 5 ... ab
<built-in method start of re.Match object at 0x00000207B97D7E68> ... 7 ... ab
the number of occurances : 3

In [6]:
matcher=re.finditer("","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ...
1 ...
2 ...
3 ...
4 ...
5 ...
6 ...
7 ...

In [7]:
matcher=re.finditer("[^abc]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
3 ... @
4 ... k
5 ... 9
6 ... z

In [8]:
matcher=re.finditer("[a-z]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
4 ... k
6 ... z

In [9]:
matcher=re.finditer("[0-9]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
5 ... 9

In [10]:
matcher=re.finditer("[a-zA-Z0-9]","a7b@k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
4 ... k
5 ... 9
6 ... z

In [11]:
matcher=re.finditer("\s","a7bc @k9zc")
for match in matcher:
    print(match.start(),"...",match.group())

4 ...

In [12]:
matcher=re.finditer("\d","a7b @k9z")
for match in matcher:
    print(match.start(),"...",match.group())

1 ... 7
6 ... 9

In [13]:
matcher=re.finditer("\D","a7b @k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... b
3 ...
4 ... @
5 ... k
7 ... z

In [14]:
matcher=re.finditer("\w","a7b @k9z")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
5 ... k
6 ... 9
7 ... z

In [15]:
matcher=re.finditer("\W","a7b @k9z")
for match in matcher:
    print(match.start(),"...",match.group())

3 ...
4 ... @

In [17]:
matcher=re.finditer("a","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... a
3 ... a
5 ... a
6 ... a

In [18]:
matcher=re.finditer("a+","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... aa
5 ... aa

In [19]:
matcher=re.finditer("a?","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ...
2 ... a
3 ... a
4 ...
5 ... a
6 ... a
7 ...
8 ...

In [26]:
matcher=re.finditer("a{3}","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

In [23]:
matcher=re.finditer("a{2,4}","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

2 ... aa
5 ... aa

In [27]:
s="Learning Python is very Easy"
res=re.search("^Learn",s)
if res!=None:
    print("Target String starts with Learn")
else:
    print("Target String Not starts with Learn")

Target String starts with Learn

In [28]:
s="Learning Python is very Easy"
res=re.search("Easy$",s)
if res!=None:
    print("Target String ends with Easy")
else:
    print("Target String Not ends with Easy")

Target String ends with Easy

In [29]:
s="Learning Python is very Easy"
res=re.search("Easy$",s,re.IGNORECASE)
if res!=None:
    print("Target String ends with Easy")
else:
    print("Target String Not ends with Easy")

Target String ends with Easy

In [31]:
inp=input("enter mobile number")
res=re.search("^[6789][0-9]{9}",inp)
if res!=None:
    print("correct")
else:
    print("wrong")

enter mobile number9740233064
correct

In [36]:
f1=open("input.txt","r")
f2=open("output.txt","w")
for line in f1:
    list=re.findall("[6-9]\d{9}]",line)
    for n in list:
        f2.write(n+"\n")
print("extracted all mobile numbers")
f1.close()
f2.close()

extracted all mobile numbers

In [37]:
s=input("enter vehicle registration number")
m=re.fullmatch("KA[0][0-6][A-Z]{2}\d{4}",s)
if m!=None:
    print("its a valid registration number")
else:
    print("not a valid number")

enter vehicle registration numberKA03R23
not a valid number

In [38]:
s=input("enter email id:")
m=re.fullmatch("\w[a-zA-zA-Z0-9_.]*@gmail[.]com",s)
if m!=None:
    print("valid email id")
else:
    print("invalid email id")

enter email id:annapoornanu19@gmail.com
valid email id

In [40]:
import pandas as pd

In [41]:
train=pd.read_csv('titanic_train.csv')

In [42]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S